!*.py
!*.json
!*.yaml
!*.template
*.pyc
**/__pycache__/
test.py
public/*
!public/white_reddit_template.png
!public/subscribe-animation.mp4
z_doc/*
z_other/*
videos/*
.logs/
.editing_assets/*
.database/api_db.json
.database/content_db.json
.database/asset_db.json
flagged/
.vscode
.env
ShortGPT.egg-info
dist
build
setup.py
test.ipynb