ffmpeg
python-dotenv
gradio==3.38.0
openai
tiktoken
tinydb
tinymongo
proglog
yt-dlp
torch
torchaudio
### whisper timestamped 
git+https://github.com/linto-ai/whisper-timestamped
protobuf==3.20.0
pillow==9.0.0
moviepy==1.0.3
termcolor 
progress
questionary
edge-tts
streamlit
streamlit-aggrid
streamlit-chat